/LeetCode557/LeetCode557/obj/Debug/*.cache
/LeetCode557/.vs/
/LeetCode633/.vs/
/LeetCode557/LeetCode557/obj/Debug/CoreCompileInputs.cache
LeetCode557/LeetCode557/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
*.exe
*.txt
LeetCode557/LeetCode557/.vs/